@(title: String)

<!DOCTYPE html>


<html>
    <head>
        <title>@title</title>
    </head>
    <body  class="bg-primary" >
        <div class="container ">
            <div class="row">
                <form id="startchat" class="form-horizontal" >
                    <div class="col-xs-8">
                        <input id="nickname" type="text" class="form-control"
                        placeholder="please type your nickname" />
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-default ">
                            Start chat</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
