@(title: String)(implicit request: RequestHeader)

<!DOCTYPE html>


<html>
    <head>
        <title>@title</title>
    </head>
    <body data-ws-url="@routes.Application.ws().webSocketURL()" class="bg-primary" >
        <div class="container ">
            <div class="row">
                <form id="start-chat-form" class="form-horizontal" >
                    <div class="col-xs-8">
                        <input id="start-chat-text" type="text" class="form-control"
                        placeholder="please type your nickname" />
                    </div>
                    <div class="col-xs-1">
                        <button id="start-chat-button" type="submit" class="btn btn-default ">
                            Start chat</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container " disabled align="center">

            <div id="chatAndMessage" align="center">
            </div>

            <div class="row">
                <div id="username" class="col-xs-3 strong text-right ">
                    User
                </div>
                <div class="col-xs-9">
                    <form id="msgform" class="form-horizontal" >
                        <div class="col-xs-8">
                            <input id="msgtext" type="text" class="form-control"
                            placeholder="please type a message" />
                        </div>
                        <div class="col-xs-1">
                            <button type="submit" class="btn btn-default ">
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
